<h2>Register</h2>
<form action="/register?_method=POST" method="POST">
  <%- include('./_form_fields.ejs') %>
  <div class="form__row btn__row">
    <button class="btn btn--primary" type="submit">Register</button>
    <a class="btn btn--primary" href="/login">Login</a>
  </div>
</form>
